In [3]:
import pandas as pd
import numpy as np

MUHAMMAD FAIZAN RAFIQ 2303.005.DEG.KHI
MUHAMMAD HUZAIFA WASSEEM 2303-KHI-DEG-021
HAMMAD IRSHAD 2303.KHI.DEG.032

In [4]:
df1 = pd.read_parquet("/home/muhammadfaizanrafique/data_engineering_bootcamp_2303/tasks/5_data_pipelines/day_4_data_lake/data/output_data/employee_earnings/earnings_date=2022-02-10/employee_earnings.parquet")
df1

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,6227
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,4437
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,6228
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,3127
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,3930
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,4052
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,2886
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,8586
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,6493
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,5261

In [6]:
random_numbers = np.random.randint(10000, 100000, size=len(df1))

In [7]:
df1.iloc[:,-1:] = random_numbers

In [10]:
new_earning_col = df1.loc[:,"earnings"]
new_earning_col

0     19982
1     35859
2     32109
3     55647
4     54240
      ...
95    45419
96    76891
97    96184
98    61389
99    30616
Name: earnings, Length: 100, dtype: int64

In [8]:
df1.head()

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,15219
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,21040
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,60196
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,29060
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,37831

In [9]:
path = '/home/muhammadfaizanrafique/data_engineering_bootcamp_2303/tasks/5_data_pipelines/day_4_data_lake/data/output_data/employee_earnings/earnings_date=2023-05-18/employee_earnings.parquet'
df1.to_parquet(path)

In [12]:
df2 = pd.read_parquet('/home/muhammadfaizanrafique/data_engineering_bootcamp_2303/tasks/5_data_pipelines/day_4_data_lake/data/output_data/employee_earnings/earnings_date=2022-02-12/employee_earnings.parquet')
df2

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,6176
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,8145
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,5278
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,9547
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,4138
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,3402
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,5373
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,7284
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,2810
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,2295

In [13]:
random_numbers = np.random.randint(10000, 100000, size=len(df2))
df1.iloc[:,-1:] = random_numbers
new_earning_col = df1.loc[:,'earnings']
new_earning_col

0     98808
1     14329
2     70158
3     96355
4     54339
      ...
95    29349
96    73049
97    10889
98    94604
99    86935
Name: earnings, Length: 100, dtype: int64

In [15]:
df2.head()
df2

,emp_id,first_name,middle_initial,last_name,email,date_of_birth,date_of_joining,ssn,phone_number,user_name,password,office_branch,earnings
0,526540,Angelique,K,Goodwin,angelique.goodwin@gmail.com,1964-05-15,2001-03-24,471-57-0359,212-884-7146,akgoodwin,z{d>ez%{.@,Nashua,6176
1,859327,Jeni,S,Shaffer,jeni.shaffer@gmail.com,1962-01-13,2015-12-10,624-85-4146,205-665-7020,jsshaffer,7U56!*!O,Stanford,8145
2,887387,Donald,T,Farris,donald.farris@bellsouth.net,1958-04-11,1979-11-12,097-02-3315,205-959-7879,dtfarris,rX.F{j&]&m&&X,Stanford,5278
3,779497,Steven,D,Rendon,steven.rendon@gmail.com,1982-04-04,2008-09-18,134-98-6566,217-858-0054,sdrendon,a+2;sx}<G]y,Nashua,9547
4,896517,Jenell,L,Almanza,jenell.almanza@yahoo.com,1958-07-01,1993-07-14,599-92-7345,314-893-2590,jlalmanza,Ou7RX{yT,New York,4138
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,549389,Clemente,M,Gould,clemente.gould@hotmail.com,1961-12-31,1992-10-02,271-17-5467,228-485-0919,cmgould,m1%+0ojh7VIvJ,Stanford,3402
96,466832,Chang,K,Roden,chang.roden@yahoo.com,1988-09-07,2010-08-06,074-02-9202,316-256-7851,ckroden,5|Rn]G:#58f$>+S,Nashua,5373
97,203380,Marvin,R,Nickel,marvin.nickel@ibm.com,1986-11-25,2012-10-06,552-99-5545,270-750-7760,mrnickel,8*E[g-_X|,Scranton,7284
98,915991,Eldora,Y,Tribble,eldora.tribble@earthlink.net,1995-05-29,2016-10-17,763-12-2082,236-584-1916,eytribble,z>ms?;$8-u,Nashua,2810
99,289172,Azzie,L,Layman,azzie.layman@hotmail.co.uk,1961-09-06,2004-03-26,637-29-1007,503-456-5899,allayman,k<%?%TML.].1ZY,New York,2295

In [13]:
new_path = '/home/muhammadfaizanrafique/data_engineering_bootcamp_2303/tasks/5_data_pipelines/day_4_data_lake/data/output_data/employee_earnings/earnings_date=2023-06-19/employee_earnings.parquet'
df2.to_parquet(new_path)